@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,700&display=swap');

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #30363d;
  border-radius: 2px;
}

body {
  width: 336px;
  height: 544px;
  margin: 0;
  padding: 24px;
  background-color: #3c444d;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-family: 'Zilla Slab', serif;
}

#app-container {
  display: flex;
  height: 100%;
}
